/Quartermaster/Assets/Fonts
Quartermaster/Assets/Fonts/PatrickHand SDF.asset
/Quartermaster/Assets/Scenes/SHADER_TEST_SCENES
Quartermaster/Assets/Scenes/SHADER_TEST_SCENES.meta
Quartermaster/Assets/com.rlabrecque.steamworks.net/Plugins/steam_api64.dll
